body {
  background-color: #ddd !important
}

textarea {
  height: 300px !important
}

.App {
  width: 100%;
}

.title-section{
  width: 100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

audio {
  width: 100%;
}

.row {
  padding-top: 1.8rem;
}
.input-col {
  padding-top: 1.8rem;
}
.output-col {
  padding-top: 1.8rem;
}
.dropdown {
  display: inline-block;
  float: right;
}
.output-audio-container, .input-audio-container {
  margin-top: 1rem;
}